/* main{
    background: url(http://localhost:5173/back.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
} */
 .container {
  display: flex;
  justify-content: center;
  align-items: center;
 }
.textConteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.name{
 
    font-size: 2rem;
    padding: 2rem;
}
.welcome{
  color: yellow;
  padding: 2rem;
}
.description{
  color: rgb(63, 131, 63);
  padding: 2rem;
}


.photo {
    max-height: 400px;
    max-width: 400px;
    border-radius: 50%;
}
.img {
  height: 400px;
  width: 400px;
  border-radius: 10%;
}


@keyframes card-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }   
  }
  @media (prefers-reduced-motion: no-preference) {
    .photo {
      animation: card-spin infinite 30s linear;
    }
  }
  