@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
body {
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


body, html, :root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: black; /* Juodas fonas */
  color: white; /* Baltas tekstas */
}

